@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Lexend Deca', sans-serif;
	--nv-z: 9999999;
	--nv-root-top: 5.5rem;
}

@layer utilities {
	.timeline-marker-primary {
		--p-timeline-event-marker-content-background: theme(colors.blue.800);
	}

	.timeline-button {
		--p-button-icon-only-width: 2rem;
	}
}

.hero-background {
	background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><pattern id="grid" width="10" height="10" patternUnits="userSpaceOnUse"><path d="M 10 0 L 0 0 0 10" fill="none" stroke="rgba(0,0,0,0.1)" stroke-width="1"/></pattern></defs><rect width="100" height="100" fill="url(%23grid)"/></svg>');
}

.Notivue__notification {
	z-index: 999999999 !important;
}

:where(hr):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

:where(li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 0em;
	margin-bottom: 0em;
}

:where(ul):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-inline-start: 1.5em;
}

/* :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 1em;
	margin-bottom: 0.25em;
} */
